@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Nunito+Sans:ital,wght@0,400;1,200&family=Raleway:ital,wght@0,400;0,500;1,600&family=Roboto:wght@100&family=Tiro+Bangla&display=swap');
/*---- css variable ----*/
:root{
    --text-black-900: #000000;
    --text-active-900: #c8493e;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--skin-color-body);
    font-family: 'Raleway', sans-serif;
    
}

/* navigation menu */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Raleway', sans-serif;
    background-color: var(--skin-color-nav-footer);
}
.navbar .dropdown-content{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navbar .dropdown-content li{
    list-style: none;
}
.navbar .dropdown-content a{
    color: var(--text-black-900);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--text-black-900);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
    .navbar .dropdown-content{
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .navbar .dropdown-content{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--skin-color-nav-footer);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar .dropdown-content li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes dropdownContentFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .link1{
    transform: rotate(-45deg translate(-5px,6px));
}
.toggle .link2{
    opacity: 0;
}
.toggle .link3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* Footer */

.footercapsule {
    width: 100%;
    height: 220px;
    background: var(--skin-color-nav-footer);
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.textfooter {
    padding-top: 30px;
    padding-left: 1px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.fietsenhuren {
    display: inline-block;
}
.textfooter .fietsen-soort li {
    font-family: 'Tiro Bangla', serif;
    margin-left: 16px;
    text-transform: capitalize;
}
.textfooter .Contact-footer {
    text-decoration: none;
    color: var(--text-black-900);
    
}
.textfooter .Contact-footer li {
    font-family: 'Tiro Bangla', serif;
    margin-left: 16px;
    text-transform: capitalize;
}
.social-links{
    display: inline-block;
    margin-top:75px;
    text-align: center;
}
.social-links .fa {
    float: left;
    line-height: 60px;
}
.footercapsule .social-links a{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
}
.footercapsule .social-links a i{
    line-height: 50px;
    color: #000000;
}
